<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <img src="../../../assets/icon/esola-login.jpg" alt="pagInicial">
        <ion-card-header>
          <ion-card-title color="primary">Login</ion-card-title>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="creds.email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" [(ngModel)]="creds.senha" formControlName="senha"></ion-input>
          </ion-item>
          <ion-button color="dark" fill="clear" size="full">Esqueci a Senha</ion-button>
          <ion-button color="light" size="full" [disabled]="!form.valid" (click)="login()">Entrar</ion-button>
          <ion-button color="primary" fill="clear" size="full" (click)="cadastro()">Cadastro</ion-button>
        </ion-card-header>
        <ion-card-content class="voltar">
          <ion-button color="light" (click)="voltar()">Voltar</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>