ion-button {
    text-transform: initial;

    padding-top: 15px;
}

img {
    width: 200px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
}

ion-card {
    width: 375px;
    height: 700px;
}

ion-card-title{
    display: flex;
    justify-content: center;   
}

.voltar{
    display: flex;
    justify-content: right;

    padding-top: 120px;
}
