ion-button {
    text-transform: initial;

    padding: 10px;
}

img {
    width: 200px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
}

ion-title{
    --color : white;
}

ion-card{
    height: 400px;
    width: 500px;
}

.voltar{
    display: flex;
    justify-content: right;

    padding-top: 20px;
}