ion-card {
    width: 375px;
    height: 600px;
}

ion-button {
    text-transform: initial;
    padding: 5px;
    align-items: center;
}

.email{
    padding-top: 50px;
}

ion-card-title{
    display: flex;
    justify-content: center;   
}

.voltar{
    display: flex;
    justify-content: right;

    padding-top: 250px;
}