ion-card {
    width: 700px;
    height: 700px;
}

ion-button {
    text-transform: initial;
    padding: 5px;
    align-items: center;
}

ion-card-content{
    padding-top: 120px;
}

ion-card-title{
    display: flex;
    justify-content: center;   
}

.logout{
    display: flex;
    justify-content: right;

}

div[scrollx=true],div[scrolly=true] {
    position: relative;
    overflow: hidden;
}

div[scrollx=true] {
   overflow-x: auto;
}

div[scrolly=true] {
   overflow-y: auto;
}