ion-card {
    width: 800px;
    height: 700px;
}

ion-button {
    text-transform: initial;
    padding: 5px;
    align-items: center;
}

ion-card-content{
    padding-top: 220px;
}

ion-card-title{
    display: flex;
    justify-content: center;   
}