<ion-content>
  <div class="flex-center">
    <form [formGroup]="cadastroForm.getForm()">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="primary">Cadastro</ion-card-title>
        </ion-card-header>

        <ion-card-content class="formulario">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="name" formControlName="nome"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="cadastroForm.getForm().get('nome').touched && cadastroForm.getForm().get('nome').errors?.required">Nome obrigatória</ion-label>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="cadastroForm.getForm().get('email').touched && cadastroForm.getForm().get('email').errors?.required">Email obrigatório</ion-label>
          <ion-label color="danger" *ngIf="cadastroForm.getForm().get('email').touched && cadastroForm.getForm().get('email').errors?.email">Email inválido</ion-label>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" formControlName="senha"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="cadastroForm.getForm().get('senha').touched && cadastroForm.getForm().get('senha').errors?.required">Senha obrigatória</ion-label>
          <ion-label color="danger" *ngIf="cadastroForm.getForm().get('senha').touched && cadastroForm.getForm().get('senha').errors?.minLength">Mínimo 6 caracteres</ion-label>

          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password" formControlName="confirmarSenha"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="cadastroForm.getForm().get('confirmarSenha').touched && cadastroForm.getForm().get('confirmarSenha').errors?.isntMatching">A senha deve ser a mesma</ion-label>

          <ion-button color="light" size="full" (click)="cadastroAluno()">Cadastrar</ion-button>
        </ion-card-content>

        <ion-card-content class="voltar">
          <ion-button color="light" (click)="voltar()">Voltar</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
