ion-card {
    width: 400px;
    height: 700px;
}

ion-button {
    text-transform: initial;
    padding: 5px;
    align-items: center;
}

ion-card-content{
    padding-top: 100px;
}

ion-card-title{
    display: flex;
    justify-content: center;   
}

.logout{
    display: flex;
    justify-content: right;

    padding-top: 200px;
}