<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Home</ion-card-title>
        <h2>Professor {{professor?.nome}}</h2>
        <p>{{professor?.email}}</p>
      </ion-card-header>

      <ion-card-content>
        <ion-button color="primary" size="full" (click)="adicionarAluno()">Adicionar Aluno a uma Disciplina</ion-button>
        <ion-button color="primary" size="full" (click)="cadastroAluno()">Cadastrar Aluno</ion-button>
        <ion-button color="primary" size="full"(click)="cadastroDisciplina()">Cadastrar Disciplina</ion-button>
        <ion-button color="primary" size="full"(click)="cadastroProfessor()">Cadastrar Professor</ion-button>
        <ion-button color="primary" size="full" (click)="consultarNotas()">Consultar Notas</ion-button>
        <ion-button color="primary" size="full" (click)="addNota()">Lançar notas</ion-button>
      </ion-card-content>

      <ion-card-content class="logout">
        <ion-button color="light" (click)="logout()">Logout</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
